.filtersBar p {
  float: left;
  margin: 10px;
  cursor: pointer;
}

#root {
  padding: 15px;
  position: absolute;
  top: 15%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-15%);
  -webkit-transform: translate(-50%, -15%);
  transform: translate(-50%, -15%);
}
